#cards {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

#cards #cards-container {
  margin-bottom: 10px;
}

#cards #cards-container card-item:not(.ativo) {
  display: none;
}

#mostrar-mais-btn {
  justify-content: center;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 18px;
  text-transform: uppercase;
  width: 250px;
}

.remover {
  display: none;
}
