#carrinho-container {
  margin-top: 8rem;
}

#carrinho-container h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 4rem 0 3rem;
  text-align: center;
}

#conteudo {
  width: 100%;
  display: flex;
}

#table-container {
  width: 97%;
  display: flex;
  padding: 0 2rem;
}

#table-carrinho {
  width: 100%;
  border-collapse: collapse;
}

#table-carrinho thead tr,
#table-carrinho tbody tr {
  border-bottom: 3px solid #eee;
}

#table-carrinho thead tr th,
#table-carrinho tbody tr td {
  margin-right: 1rem;
}

#table-carrinho thead tr th {
  text-align: center;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#table-carrinho tbody tr:last-child {
  border: 0;
}

#table-carrinho tbody tr td {
  padding: 2rem 0.5rem;
  text-align: center;
}

.produto {
  display: flex;
  align-items: center;
  max-width: 480px;
}

.produto img {
  width: 150px;
  height: 150px;
}

.info-produto {
  margin-left: 2rem;
  text-align: justify;
}

.info-produto .titulo-produto {
  font-size: 20px;
}

.quantidade {
  background-color: #eee;
  display: inline-flex;
  justify-content: space-around;
  width: 100px;
  border-radius: 50px;
  height: 40px;
  overflow: hidden;
}

.quantidade span {
  margin: 0.1rem 0.7rem;
  align-self: center;
}

.quantidade button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  height: 100%;
}

.quantidade button:hover {
  background-color: #ddd;
}

.remover-produto {
  background-color: #ddd;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remover-produto i {
  font-size: 25px;
}

.remover-produto:hover {
  background-color: #ccc;
}

#compras-container .box {
  border-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-bottom: 20px;
  color: #222;
}

#compras-container button {
  border: 0;
  padding: 15px 0;
  color: #fff;
  background-color: #039603;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#compras-container h4 {
  padding: 1rem 1.5rem;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

#compras-container .info-compra {
  padding: 1.2rem;
  font-size: 16px;
}

#compras-container .info-compra div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

#compras-container .info-compra div:last-child {
  margin: 0;
}

#compras-container .info-compra button {
  color: #039603;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

#compras-container .info-compra i {
  align-self: center;
  color: #039603;
}

#resultado-compras {
  padding: 15px 20px;
  font-size: 18px;
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
}

/* adicionando novas formatações em .preco e .total */
#table-carrinho .preco {
  font-weight: normal;
}

#table-carrinho .total {
  font-weight: bold;
  font-size: 20px;
}

#table-carrinho .mensagem-vazia {
  text-align: center;
  vertical-align: middle;
  height: 200px; /* Ajuste conforme necessário */
  width: 100%;
}
