#carrinho-container {
  margin-top: 8rem;
}

#carrinho-container h3 {
  font-size: 40px;
  font-weight: 500;
  margin: 4rem 0 3rem;
  text-align: center;
}

#conteudo {
  width: 100%;
  display: flex;
}

#table-container {
  width: 97%;
  display: flex;
  padding: 0 2rem;
}

#table-carrinho {
  width: 100%;
  border-collapse: collapse;
}

#table-carrinho thead tr,
#table-carrinho tbody tr {
  border-bottom: 3px solid #eee;
}

#table-carrinho thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#table-carrinho tbody tr:last-child {
  border: 0;
}

#table-carrinho tbody tr td {
  padding: 2rem 0;
  text-align: left;
}

.produto {
  display: flex;
  align-items: center;
}

.produto img {
  width: 150px;
  height: 150px;
}

.info-produto {
  margin-left: 2rem;
}

.info-produto .titulo-produto {
  font-size: 25px;
}

.quant {
  background-color: #eee;
  display: inline-flex;
  justify-content: space-around;
  width: 90px;
  border-radius: 15px;
  height: 30px;
  overflow: hidden;
}

.quant span {
  margin: 0.1rem 0.7rem;
}

.quant button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  height: 100%;
}

.quant button:hover {
  background-color: #ddd;
}

.remover-produto {
  background-color: #ddd;
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remover-produto i {
  font-size: 25px;
}

.remover-produto:hover {
  background-color: #ccc;
}

/* #compras-container {
  min-height: 250px;
  margin-left: 30px;
} */

#compras-container .box {
  border-bottom: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
  margin-bottom: 20px;
  color: #222;
}

#compras-container button {
  border: 0;
  padding: 15px 0;
  color: white;
  background-color: green;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#compras-container h4 {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
