#card-detalhado {
  display: flex;
  margin-top: 8rem;
}

#produto {
  max-width: 400px;
  margin-right: 2rem;
  padding: 1rem 2rem;
}

#produto img {
  width: 100%;
}

.star i {
  margin-right: 5px;
  font-size: 25px;
}
